#project-info {
  background: #2F333F;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}
h2{
  font-size: 4rem;
}
#project-info li {
  color: white;
  font-size: 2rem;
}
#project-info span {
  opacity: 0.7;
}

#project-info ul {
  list-style-type: none;
}
.work {
  color: #2F333F;
  background-color: #F2F6FF;
  padding-bottom: 2px;
}
.hidden-delete {
  width: .5rem;
  height: .5rem;
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}
.hidden-delete:after {
  height: 1rem;
  display: inline-block;
  margin-top: -0.2rem;
  content: '';
  width: 1rem;
}

#category {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #666E7F;
  color: white;
  padding-bottom: 0;
}
.category-title {
  font-size: 1.7rem;
  font-weight: bold;
  flex-grow: 1;
}
#add-category-button {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: auto;
  margin-top: 5px;
  background-size: cover;
  background-image: url('/assets/img/icons/category-add-button.png');
}

#headers {
  display: flex;
  justify-content: space-around;
  padding: 0 12px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #2F333F;
  color: #CED6E5;
  height: 3.5rem;
  line-height: 4rem;
  position: relative;
}
