<div *ngIf="popUpOpened" id="pop-up-background" (click)="popUpOpened = false;">
  <div id="container"
       (click)="$event.stopPropagation()">
    <div id="pop-up-navigation">
      <ul>
        <li *ngFor="let state of popUpService.currentStates"
            [style.width]="100/popUpService.currentStates.length + '%'"
            [class]="state.number == popUpService.currentState.number ? 'active' : ''">
        </li>
      </ul>
    </div>
    <div style="width: 95%; margin-left: 2.5%;" ngSwitch="{{popUpService.currentState.title}}">
      <div *ngSwitchCase="'work'">
        <app-create-work [worksService]="worksService" (close)="popUpOpened = false"></app-create-work>
      </div>
    </div>
  </div>
</div>

<div *ngIf="project">
  <div id="project-info">
    <h2>{{project.title}}</h2>
    <ul>
      <li><span>Адресс: </span>{{project.address}}</li>
      <li><span>Период работы над проектом: </span></li>
      <li>{{ project.dateStart | date : "dd.MM.y" }} - {{ project.dateEnd | date : "dd.MM.y" }}</li>
      <li><span>Стоимость проекта: </span>{{project.projectCost}}UAH</li>
    </ul>
  </div>

  <div id="headers">
    <span style="width: 47.25%">Работа</span>
    <div id='add-category-button' (click)="openAddWorkForm()"></div>
    <span style="width: 47.25%; text-align: end">м²/Стоимость</span>
  </div>

  <ul class="card" style="margin: 0" *ngFor="let work of works | async">
    <div id="category" class="card-header"
         data-toggle="collapse" >
      <div class="category-title" >
        <span (click)="removeWork(work)" class="hidden-delete remove-work remove-img"></span>
        <span>{{work.title}}</span>
        <span style="float: right">{{work.square}} / {{work.cost}} UAH</span>
      </div>
    </div>
  </ul>
</div>


