#projects-list {
  list-style-type: none;
  width: 100vw;
  margin: auto;
  max-width: 650px;
  border: 1px solid #CED6E5;
  border-radius: 5px;
  padding: 0;
}
#projects-list .card-body:hover {
  cursor: pointer;
}

.project {
  width: 100%;
}
.project-toggle {
  width: 100%;
  background-color: #CED6E5;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(240, 246, 255);
  height: 4rem;
  color: #333;
  font-weight: 600;
}
#headers {
  display: flex;
  justify-content: space-around;
  padding: 0 12px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #2F333F;
  color: #CED6E5;
  height: 4.5rem;
  line-height: 4rem;
  position: relative;
}
