<div *ngIf="projectCreation" id="pop-up-background" (click)="projectCreation = false;">
  <div id="container"
       (click)="$event.stopPropagation()">
    <div id="pop-up-navigation">
      <ul>
        <li *ngFor="let state of popUpService.currentStates"
            [style.width]="100/popUpService.currentStates.length + '%'"
            [class]="state.number == popUpService.currentState.number ? 'active' : ''">
        </li>
      </ul>
    </div>
    <div style="width: 95%; margin-left: 2.5%;" ngSwitch="{{popUpService.currentState.title}}">
      <div *ngSwitchCase="'project'">
        <app-create-project></app-create-project>
      </div>
    </div>
  </div>
</div>

<div id="headers">
  <button id='create-project-button' style="background: none; color: white; border: none" (click)="openProjectCreationForm()"> Добавить проект</button>
</div>

<ul id="projects-list">
  <li class="project"
      *ngFor="let project of projects | async">
    <button type="button"
            class="project-toggle"
            data-toggle="collapse"
            [attr.data-target]="'#collapse' + project.id"
            aria-expanded="false"
            [attr.aria-controls]="'collapse' + project.id">
      {{project.title}}
    </button>
    <div class="collapse" id="collapse{{project.id}}">
      <div class="card card-body" (click)="selectProject(project)">
        <div class="project-address">{{ project.address }}</div>
        <div class="project-address">{{ project.dateStart | date : "dd.MM.y" }} - {{ project.dateEnd | date : "dd.MM.y" }}</div>
        <div class="project-address">{{ project.projectCost}}UAH</div>
        <div class="project-address">{{ project.worksCount}} работ</div>

      </div>
    </div>
  </li>
</ul>
