#projects-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.project {
  width: 100%;
}
.project-toggle {
  width: 100%;
  background-color: #CED6E5;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #666e7f;
  height: 4rem;
}
