#projects-list {
  list-style-type: none;
  width: 90vw;
  margin: auto;
  max-width: 650px;
  border: 1px solid #CED6E5;
  border-radius: 5px;
}

.project {
  width: 100%;
}
.project-toggle {
  width: 100%;
  background-color: #CED6E5;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(240, 246, 255);
  height: 4rem;
  color: #333;
  font-weight: 600;
}
