#add-category-button {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: auto;
  margin-top: 5px;
  background-size: cover;
  background-image: url('/assets/img/icons/category-add-button.png');
}

#headers {
  display: flex;
  justify-content: space-around;
  padding: 0 12px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #2F333F;
  color: #CED6E5;
  height: 3.5rem;
  line-height: 4rem;
  position: relative;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#group {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #666E7F;
  color: #CED6E5;
  padding-bottom: 0;
}
.group-title {
  font-size: 1.7rem;
  font-weight: bold;
  flex-grow: 1;
}
.create-work-button {
  width: 30px;
  height: 30px;
  position: relative;
  background-image: url('/assets/img/icons/category-edit.png');
  background-color: transparent;
  background-size: cover;
  border: none;
}
.work {
  color: #2F333F;
  background-color: #F2F6FF;
  padding-bottom: 2px;
}
.work li {
  width: 100%;
  margin-bottom: 7px;
  display: flex;
  font-weight: bold;
}

#category-edition-form {
  margin: auto;
  height: 40%;
}

.hidden-delete {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: -2rem;
  opacity: 0.5;
}
.hidden-delete:after {
  border-left: 2px solid #2F333F;
  height: 2.4rem;
  display: inline-block;
  margin-left: 1.5rem;
  margin-top: -0.2rem;
  content: '';
  width: 1.5rem;
  background-color: #F2F6FF;
}
.hidden-delete:hover {
  margin-left: -1rem;
  margin-right: 1rem;
  opacity: 1;
}
.hidden-delete:hover:after {
  margin-left: 2.2rem;
  width: 0;
}

.delete-category {
  background-image: url("/assets/img/icons/trash.png");
}
.delete-category:after {
  background-color: #666E7F;
  border-left: 2px solid #F2F6FF;
}
.category-buttons {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}
.category-buttons * {
  margin-top: -3px;
  margin-left: 5px;
}
