<div *ngIf="categoryEdition" id="pop-up-background" (click)="categoryEdition = false;">
  <div id="container"
       (click)="$event.stopPropagation()">
    <div id="pop-up-navigation">
      <ul>
        <li *ngFor="let state of popUpService.currentStates"
            [style.width]="100/popUpService.currentStates.length + '%'"
            [class]="state.number == popUpService.currentState.number ? 'active' : ''">
        </li>
      </ul>
    </div>
    <div style="width: 95%; margin-left: 2.5%;" ngSwitch="{{popUpService.currentState.title}}">
      <div *ngSwitchCase="'category'">
        <app-edit-category-form
          [category]="selectedCategory"></app-edit-category-form>
      </div>
      <div *ngSwitchCase="'create-work'">
        <app-create-work-form
          [category]="selectedCategory"></app-create-work-form>
      </div>
      <div *ngSwitchCase="'edit-work'">
        <app-create-work-form
          [work]="selectedCategory.works[0]"></app-create-work-form>
      </div>
    </div>
  </div>
</div>

<app-create-category
  *ngIf="categoryCreation"
  (close)="categoryCreation = false"
  (create)="categoryCreation=false"></app-create-category>

<div id="headers">
  <span style="width: 70%">Title</span>
  <div id='add-category-button' (click)="openCreateCategoryForm()"></div>
  <span style="width: 25%; text-align: end">Price</span>
</div>
<ul id="accordion">
  <ul *ngFor="let category of categories"
      class="card">

    <div id="category"
         class="card-header"
         [attr.data-target]='"#collapse" + category.id'
         data-toggle="collapse">
      <div class="remove-img hidden-delete delete-category" (click)="deleteCategory(category)"></div>
      <div class="category-title">{{category.title}}</div>

      <div class="category-buttons">
        <button class="create-work-button"
                (click)="openCategoryEditForm(category)"></button>
      </div>
    </div>

    <div id="collapse{{category.id}}"
         class="collapse"
         data-parent="#accordion">
      <div class="card-body work">
        <li *ngFor="let work of category.works">
          <span (click)="deleteWork(work)" class="hidden-delete remove-work remove-img"></span>
          <span style="flex-grow: 1">{{work.title}}</span>
          <span style="width: 25%; margin-right: 2px; text-align: end;">{{work.price}} UAH</span>
        </li>
      </div>
    </div>
  </ul>
</ul>
