<div>
  <form (submit)="work ? updateWork() : createWork()">
    <h2>
      {{work ? 'Редактировать работу' : 'Добавить работу'}}
    </h2>

    <div class="form-input-light">
      <label for="work-title">название работы<span>{{viewWork.title}}</span></label>
      <input type="text"
             name='work-title'
             [(ngModel)]="viewWork.title">
    </div>

    <div class="form-input-light">
      <label for="work-price">цена <span>{{viewWork.price}}</span></label>
      <input type="text"
             name='work-price'
             [(ngModel)]="viewWork.price">
    </div>
    <button type="submit"
            id="create-button"
            class="light-button">
      {{work ? 'Сохранить': 'Создать'}}
    </button>
  </form>
</div>

w
